html, body, div, aside {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body, button{
    background-color: hsl(0, 0%, 95%);
}

main{
    padding-left: 50px;
    padding-right: 50px;
}

.root-div {
    display: flex;
    gap: 0;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 150px 0 30px;
    justify-content: center;
}

.flex-item {
    padding: 30px;
}

.flex-item article {
    margin: 20px;
}

.flex-item h3 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.flex-item p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 16px;
    font-family: 'Lexend Deca';
    line-height: 1.7;
}

.sedans-div {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.sedans-div button {
    color: hsl(31, 77%, 52%);
}

.sedans-div button:hover {
    color: #fff;
    border: 1px solid white;
    background-color: inherit;
}

.suvs-div {
    background-color: hsl(184, 100%, 22%);
}

.suvs-div button {
    color: hsl(184, 100%, 22%);
}

.suvs-div button:hover {
    color: #fff;
    border: 1px solid white;
    background-color: inherit;
}

.luxury-div {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.luxury-div button {
    color: hsl(179, 100%, 13%);
}

.luxury-div button:hover {
    color: #fff;
    border: 1px solid white;
    background-color: inherit;
}

.flex-item button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
}